# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Environment variables 
.env
server/.env
.env.local
.env.development.local
.env.production.local

# Build folders
dist/
build/

# Runtime uploads
uploads/
server/uploads


.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE settings
.vscode/
.idea/

